body {
    font: 400 20px "Times New Roman", Times, serif;
    width: 100%;
    height: 100%;
    color: #000000;
    background: #1b1b1b url(img/back_ground_black.png) no-repeat fixed top right;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    margin-bottom: 30px;
}
.jumbotron {
    padding: 120px 25px;
    margin-bottom: 0;
    font-family: "Nimbus Roman No9 L", sans-serif;
}
.container-fluid {
    padding: 60px 50px;
    filter: Alpha(opacity=50); /* IE8 and earlier */
}
.bg-light {
    background-color: #eee;
}
.bg-dark{
    opacity: 0.9;
    color: #f6f6f6;
    background-color: #1b1b1b;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 350px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #1b1b1b;
}
.carousel-indicators li {
    border-color: #1b1b1b;
}
.carousel-indicators li.active {
    background-color: #1b1b1b;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #000000 !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #1b1b1b !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
}
.dropdown-btn{
    background-color: transparent;
    border: none;
}
.dropdown-menu{
    text-align: center;
}
.btn-lg{
    margin-top: 5px;
    border: none;
    background-color: inherit;
}
.btn-lg:hover{
    color: #ffffff;
    background-color: #1b1b1b;
}
a{
    height: 53px;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.slideanim {
    visibility:hidden;
}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 500px;
    margin: auto;
}

.text-light{
    color: #ffffff;
}

.modal-header{
    background-color: #1b1b1b;
    color:#ffffff !important;
    text-align: center;
    font-size: 30px;
}
.close{
    background-color: #1b1b1b;
    color:#ffffff !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #ffffff;
}

.btn-nav {
    border: none !important;
    width: inherit;
}