* {
    margin: 0;
    padding: 0;
    border: 0 none;
}

body {
    font: 22px/25px "Times New Roman", Times, serif;
    width: 100%;
    height: 100%;
    background: #1b1b1b url(img/back_ground_black.png) no-repeat fixed top right;
}

html, body, #body {
    height: 100%;
}

body > #body {
    height: auto;
    min-height: 100%;
}

a{
    background-color: white;
    font-size: inherit;
    font: inherit;
    list-style: none;
    float: left;
    margin: 0;
    padding: 40px 50px;
    color: #1b1b1b;
    text-decoration: none;
    border: none;
    border-radius: 0;
}

li:hover{
    color: #b8b8b8;
    border: none;
    border-bottom: 5px solid #1b1b1b;
}

input {
    margin: 5px 10px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
}

input:hover {
    border: 1px solid #b8b8b8;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

table{
    border-spacing: 20px;
    width: 100%;
}

th, td {
    padding: 15px;
}

td{
    text-align: center;
}

textarea {
    max-width: 800px;
    min-width: 600px;
    min-height: 100%;
    border: solid #cccccc;
    border-radius: 7px;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

#footer {
    clear: both;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px;
    background: white;
    border-top: 7px solid #ccc;
    text-align: center;
}