form#login {
    width: 200px;
    margin: 5px 5px;
    float: right;
}

form#register {
    marign: 30px 30px;
    padding: 20px 50px;
    float: right;
}

.navsubmit {
    background-color: white;
    font-size: inherit;
    font: inherit;
    list-style: none;
    float: left;
    margin: 0;
    padding: 40px 20px;
    color: #1b1b1b;
    text-decoration: none;
    float: left;
    border: none;
    border-radius: 0;
}

.navsubmit:hover {
    color: #b8b8b8;
    border: none;
}

li.form_menu:hover{
    color: #b8b8b8;
    border: none;
    border-bottom: 5px solid #1b1b1b;
}

.form_menu {
    font-size: 100%;
    /* padding: 37px 20px 0 0;*/
    list-style: none;
    float: left;
}

.form_menu li {
    display: inline-block;
    float: left;
    width: auto;
}

.form_menu li {
    padding: 0;
    color: #1b1b1b;
    text-decoration: none;
    float: left;
}